<div class="container mt-5">
  <h1><%= @article.title %></h1>

  <p><%= @article.content %></p>

  <hr>

  <%= link_to edit_article_path(@article), class: "btn btn-warning" do %>
  <i class="fa-solid fa-pen"></i> Edit
<% end %>

<%= link_to article_path(@article),
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    },
    class: "btn btn-danger" do %>
  <i class="fa-solid fa-trash"></i> Delete
<% end %>

  <%= link_to "Back",
      articles_path,
      class: "btn btn-secondary" %>
</div>
